{% extends "layout.html" %} {% block body %}
<div>
  <form method="POST" action="?" class="space-y-3">
    <div class="flex flex-col">
      <label for="inputDate" class="text-lg font-bold">祝日 日付</label>
      <div class="relative max-w-sm">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
            />
          </svg>
        </div>
        <input
          datepicker
          datepicker-format="yyyy/mm/dd"
          type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Select date"
          name="holiday"
        />
      </div>
    </div>
    <div class="flex flex-col">
      <label for="inputDateText" class="text-lg font-bold">祝日 テキスト</label>
      <input
        id="inputDateText"
        type="text"
        name="holiday_text"
        class="input input-bordered w-full max-w-xs bg-[#F9FAFB]"
      />
    </div>
    <div class="flex items-center justify-start space-x-3">
      <button
        type="submit"
        formaction="{{ url_for('upsert_date') }}"
        class="btn btn-primary"
      >
        新規登録・更新
      </button>
      <button
        type="submit"
        formaction="{{ url_for('delete_date') }}"
        class="btn btn-accent"
      >
        削除
      </button>
    </div>
  </form>
  <div class="divider"></div>
  <div>
    <button
      type="button"
      class="btn btn-neutral"
      onclick="location.href='/list'"
    >
      一覧出力
    </button>
  </div>
</div>
{% endblock %}
