<!DOCTYPE html>
<title>祝日マスタ管理</title>

<link
  href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css"
  rel="stylesheet"
  type="text/css"
/>
<script src="https://cdn.tailwindcss.com"></script>
<script>
  tailwind.config = {
    theme: {
      extend: {
        colors: {
          "natural-black": "#333333",
        },
      },
    },
  };
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>

<div data-theme="emerald">
  <header class="h-[12svh] flex items-center justify-between p-5 shadow">
    <div>
      <h1 class="text-3xl font-bold text-natural-black">祝日マスタ管理</h1>
    </div>
    <div></div>
  </header>
  <div class="min-h-[88svh] px-8 py-5 space-y-3">
    {% if get_flashed_messages()|length > 0 %}
    <div class="flex flex-col">
      {% for message in get_flashed_messages() %}
      <div role="alert" class="alert alert-error">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-current shrink-0 h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <span>{{ message }}</span>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <div>{% block body %}{% endblock %}</div>
  </div>
</div>
