<!DOCTYPE html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<body class="bg-info text-dark">

<br>
<br>

    <div class="text-center" >
        <h1>Flask Clinic</h1>
    </div>

<br>
<br>


<div class="container">
    <table class="table">
        <thead>
            <tr class="table-info">
                <th scope="col"></th>
                <th scope="col" class="text-center">Sun</th>
                <th scope="col" class="text-center">Mon</th>
                <th scope="col" class="text-center">Tue</th>
                <th scope="col" class="text-center">Wed</th>
                <th scope="col" class="text-center">Thr</th>
                <th scope="col" class="text-center">Fri</th>
                <th scope="col" class="text-center">Sat</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">AM</th>
                <td class="text-center">休</td>
                <td class="text-center">9:00~12:30</td>
                <td class="text-center">9:00~12:30</td>
                <td class="text-center">9:00~12:30</td>
                <td class="text-center">休</td>
                <td class="text-center">9:00~12:30</td>
                <td class="text-center">9:00~12:30</td>
            </tr>
            <tr>
                <th scope="row">PM</th>
                <td class="text-center">休</td>
                <td class="text-center">14:00~19:30</td>
                <td class="text-center">14:00~19:30</td>
                <td class="text-center">14:00~19:30</td>
                <td class="text-center">休</td>
                <td class="text-center">14:00~17:30</td>
                <td class="text-center">休</td>
            </tr>
        </tbody>
    </table>

</div>

<br>
<br>

<div class="container">
    <button type="button" class="btn btn-outline-dark btn-lg" onclick="location.href='/login'">ログイン</button>
</div>


</body>

